.banner{
    box-shadow: 0 0 8px 3px black;
}
.logoimg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.carlogosize{
    height: 135px !important;
}

.img-fluid{
    height: 150px;
}