:root{
    --bg-textOne: #FFF6E9;
    --bg-five: #E0E1DD;
    --bg-backDark: #0D1B2A;
    --bg-textTwo: #3DFFFF;
    --bg-backLight: #EEF5FF;
}
.location{
    border: 8px double black;
    color: var(--bg-textthird);
}
.location:hover{
    background-color: white;
}
.queryback{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mapimg{
    width: inherit;
    border-bottom: 4px solid var(--bg-textthird);
}
.location:hover{
    border: 6px solid var(--bg-backDark);
}
.queBox{
    background-color: var(--bg-backLight);
}

@media (max-width: 767px) {
    imgLoc{
        width: fit-content;
        height: auto;
    }
}
