:root{
    --bg-textOne: #ffffff;
    --bg-texttwo: #CADCFC;
    --bg-textthird: #000000;
    --bg-textfour: #162e48;
    --bg-backDark: #162e48;
    --bg-backLight: #CADCFC;
}
.textOne{
    color: var(--bg-textOne);
}
.textTwo{
    color: var(--bg-texttwo);
}
.textThird{
    color: var(--bg-textthird);
}
.textFour{
    color: var(--bg-textfour);
}
.backDark{
    background-color: var(--bg-backDark);
}
.backLight{
    background-color: var(--bg-backLight);
}
.navbarper, .navbarper .show{
    background-color: var(--bg-backDark);
}
.navbarper .navlinks{
    color: var(--bg-backLight) !important;
}
.navbarper .navlinks:hover,
.navbarper .navlinks.active{
    color: var(--bg-textOne) !important;
}
.navbarper .show .dropdown-item:hover{
    background-color: var(--bg-textOne) !important;
    color: var(--bg-backDark) !important;
}
.togglecolor{
    background-color: var(--bg-textOne);
}
/* back to top */
.backtotop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--bg-textOne);
    cursor: pointer;
    padding: 10px; 
    border-radius: 50%; 
}
.backtotop img{
    height: 32px;
    width: 32px;
}

.backtotop:hover img{
    animation: wheel 1s linear infinite;
}
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* down sign */
.downsign{
    position: fixed;
    bottom: 20px;
    z-index: 99;
    left: 49.6%;
    animation: bounce 1s linear infinite;
}
.arrowcolor{
    color: #ffffff;
    animation: chgcolor 1s linear infinite;
}
@keyframes chgcolor {
    0% {
        color: var(--bg-textOne);
    }
    25%{
        color: var(--bg-textfour);
    }
    50%{
        color: var(--bg-textOne);
    }
    75%{
        color: var(--bg-textfour);
    }
    100% {
        color: var(--bg-textOne);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(4px);
    }
    50%{
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(4px);
    }
}


/* search home */
.searchhome{
    background-color: var(--bg-backLight);
}
.btnColor{
    background-color: var(--bg-backLight);
    color: var(--bg-textTwo);
}
.btnColor:hover{
    background-color: var(--bg-textTwo);
    color: var(--bg-textOne);
    border: 2px solid var(--bg-backLight);
}
.backScroll{
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 -15px 13px 0 black inset, 0 15px 13px 0 black inset;
}
/* most pick ca0 */
.mostPickHome{
    background-color: var(--bg-backDark);
}
.homeCard:hover{
    box-shadow: 0 0 0 5px var(--bg-textTwo);
}
/* testiminial*/
.testiborder{
    border: 7px double var(--bg-backDark);
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item.testislide>div {
        display: none;
    }

    .carousel-inner .carousel-item.testislide>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.testislide.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.testi .carousel-item-end.active,
    .carousel-inner.testi .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner.testi .carousel-item-start.active,
    .carousel-inner.testi .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

.carousel-inner.testi .carousel-item-end,
.carousel-inner.testi .carousel-item-start {
    transform: translateX(0);
}

/* cars modal*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item.carmodal>div {
        display: none;
    }

    .carousel-inner .carousel-item.carmodal>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.carmodal.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.carmo .carousel-item-end.active,
    .carousel-inner.carmo .carousel-item-next {
        transform: translateX(16.66%);
    }

    .carousel-inner.carmo .carousel-item-start.active,
    .carousel-inner.carmo .carousel-item-prev {
        transform: translateX(-16.66%);
    }
}

.carousel-inner.carmo .carousel-item-end,
.carousel-inner.carmo .carousel-item-start {
    transform: translateX(0);
}

/* cars company*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item.carcompany>div {
        display: none;
    }

    .carousel-inner .carousel-item.carcompany>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.carcompany.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.carcom .carousel-item-end.active,
    .carousel-inner.carcom .carousel-item-next {
        transform: translateX(16.66%);
    }

    .carousel-inner.carcom .carousel-item-start.active,
    .carousel-inner.carcom .carousel-item-prev {
        transform: translateX(-16.66%);
    }
}

.carousel-inner.carcom .carousel-item-end,
.carousel-inner.carcom .carousel-item-start {
    transform: translateX(0);
}

.footer{
    background-color: var(--bg-backDark);
}